﻿@model IEnumerable<API_COAGROLINDAVISTA.Models.OUSR>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdRole)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserPassword)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.IdRole)*@
                @(((List<API_COAGROLINDAVISTA.Models.USR1>)ViewBag.UserRoles).FirstOrDefault(x => x.IdRole == item.IdRole).Role.ToString())
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdUser }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdUser }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdUser })
            </td>
        </tr>
    }

</table>
