﻿@model API_COAGROLINDAVISTA.Models.OCHK

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OCHK</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdChicken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdChicken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeChicken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeChicken)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdChicken }) |
    @Html.ActionLink("Back to List", "Index")
</p>
