﻿@model IEnumerable<API_COAGROLINDAVISTA.Models.OCHK>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdChicken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeChicken)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdChicken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeChicken)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdChicken }) |
            @Html.ActionLink("Details", "Details", new { id = item.IdChicken }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdChicken })
        </td>
    </tr>
}

</table>
