﻿@model API_COAGROLINDAVISTA.Models.OPRO

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OPRO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdTypeChicken)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.IdTypeChicken)*@
            @(((List<API_COAGROLINDAVISTA.Models.OCHK>)ViewBag.ListGenresChickens).FirstOrDefault(x => x.IdChicken == Model.IdTypeChicken).TypeChicken.ToString())
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdShed)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.IdShed)*@
            @(((List<API_COAGROLINDAVISTA.Models.OSHE>)ViewBag.ListSheds).FirstOrDefault(x => x.IdShed == Model.IdShed).ShedName.ToString())
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdSupp)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.IdSupp)*@
            @(((List<API_COAGROLINDAVISTA.Models.OBPR>)ViewBag.ListBusinessPartner).FirstOrDefault(x => x.IdCardCode == Model.IdSupp).NameBP.ToString())
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDateChicken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDateChicken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InitialNumberBirds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitialNumberBirds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BacthNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BacthNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StarAvgWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StarAvgWeight)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
