﻿@model API_COAGROLINDAVISTA.Models.OPRO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OPRO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdTypeChicken)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.IdTypeChicken)*@
            @(((List<API_COAGROLINDAVISTA.Models.OCHK>)ViewBag.ListGenresChickens).FirstOrDefault(x => x.IdChicken == Model.IdTypeChicken).TypeChicken.ToString())
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdShed)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.IdShed)*@
            @(((List<API_COAGROLINDAVISTA.Models.OSHE>)ViewBag.ListSheds).FirstOrDefault(x => x.IdShed == Model.IdShed).ShedName.ToString())
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdSupp)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.IdSupp)*@
            @(((List<API_COAGROLINDAVISTA.Models.OBPR>)ViewBag.ListBusinessPartner).FirstOrDefault(x => x.IdCardCode == Model.IdSupp).NameBP.ToString())
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDateChicken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDateChicken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InitialNumberBirds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitialNumberBirds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BacthNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BacthNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StarAvgWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StarAvgWeight)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
