﻿@model IEnumerable<API_COAGROLINDAVISTA.Models.OPRO>

@{
    ViewBag.Title = "Index";
}

<h2>Resumen general producción pollo engorde</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTypeChicken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdShed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdSupp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDateChicken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InitialNumberBirds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BacthNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StarAvgWeight)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdProd)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.IdTypeChicken)*@
            @(((List<API_COAGROLINDAVISTA.Models.OCHK>)ViewBag.ListGenresChickens).FirstOrDefault(x => x.IdChicken == item.IdTypeChicken).TypeChicken.ToString())
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.IdShed)*@
            @(((List<API_COAGROLINDAVISTA.Models.OSHE>)ViewBag.ListSheds).FirstOrDefault(x => x.IdShed == item.IdShed).ShedName.ToString())
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.IdSupp)*@
            @(((List<API_COAGROLINDAVISTA.Models.OBPR>)ViewBag.ListBusinessPartner).FirstOrDefault(x => x.IdCardCode == item.IdSupp).NameBP.ToString())
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDateChicken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitialNumberBirds)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BacthNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StarAvgWeight)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdProd }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdProd }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdProd })
        </td>
    </tr>
}

</table>
