﻿@model API_COAGROLINDAVISTA.Models.OTBP

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OTBP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdTBP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTBP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeNameBP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeNameBP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTBP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
