﻿@model API_COAGROLINDAVISTA.Models.OSHE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OSHE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdShed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdShed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShedName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShedName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShedCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShedCapacity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdShed }) |
    @Html.ActionLink("Back to List", "Index")
</p>
