﻿@model IEnumerable<API_COAGROLINDAVISTA.Models.OSHE>

@{
    ViewBag.Title = "Index";
}

<h2>Mantenimiento de galpones</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdShed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShedName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShedCapacity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdShed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShedName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShedCapacity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdShed }) |
            @Html.ActionLink("Details", "Details", new { id = item.IdShed }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdShed })
        </td>
    </tr>
}

</table>
