﻿@model API_COAGROLINDAVISTA.Models.OTGB

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OTGB</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdGBP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdGBP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.IdGBP}) |
    @Html.ActionLink("Back to List", "Index")
</p>
