﻿@model IEnumerable<API_COAGROLINDAVISTA.Models.OTGB>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdGBP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdGBP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdGBP }) |
            @Html.ActionLink("Details", "Details", new { id = item.IdGBP }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdGBP })
        </td>
    </tr>
}

</table>
