﻿@model API_COAGROLINDAVISTA.Models.OBPR

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OBPR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCardCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCardCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameBP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameBP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupBP)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.GroupBP)*@
            @(((List<API_COAGROLINDAVISTA.Models.OTGB>)ViewBag.GroupBussinesPartner).FirstOrDefault(x => x.IdGBP == Model.GroupBP).GroupName.ToString())
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeBP)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.TypeBP)*@
            @(((List<API_COAGROLINDAVISTA.Models.OTBP>)ViewBag.TypeGroupBussinesPartner).FirstOrDefault(x => x.IdTBP == Model.TypeBP).TypeNameBP.ToString())
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
