﻿@model API_COAGROLINDAVISTA.Models.OBPR

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OBPR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCardCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCardCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameBP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameBP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupBP)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.GroupBP)*@
            @(((List<API_COAGROLINDAVISTA.Models.OTGB>)ViewBag.GroupBussinesPartner).FirstOrDefault(x => x.IdGBP == Model.GroupBP).GroupName.ToString())
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeBP)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.TypeBP)*@
            @(((List<API_COAGROLINDAVISTA.Models.OTBP>)ViewBag.TypeGroupBussinesPartner).FirstOrDefault(x => x.IdTBP == Model.TypeBP).TypeNameBP.ToString())
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.IdCardCode}) |
    @Html.ActionLink("Back to List", "Index")
</p>
