﻿@model IEnumerable<API_COAGROLINDAVISTA.Models.OBPR>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdCardCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameBP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupBP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeBP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCardCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameBP)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.GroupBP)*@
            @(((List<API_COAGROLINDAVISTA.Models.OTGB>)ViewBag.GroupBussinesPartner).FirstOrDefault(x => x.IdGBP == item.GroupBP).GroupName.ToString())
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.TypeBP)*@
            @(((List<API_COAGROLINDAVISTA.Models.OTBP>)ViewBag.TypeGroupBussinesPartner).FirstOrDefault(x => x.IdTBP == item.TypeBP).TypeNameBP.ToString())
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id=item.IdCardCode}) |
            @Html.ActionLink("Details", "Details", new {id=item.IdCardCode}) |
            @Html.ActionLink("Delete", "Delete", new {id=item.IdCardCode})
        </td>
    </tr>
}

</table>
