﻿@model API_COAGROLINDAVISTA.Models.USR1

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>USR1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdRole)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
