﻿@model IEnumerable<API_COAGROLINDAVISTA.Models.USR1>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdRole)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdRole }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdRole}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdRole  })
        </td>
    </tr>
}

</table>
