﻿@model API_COAGROLINDAVISTA.Models.OBPA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OBPA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCardCode)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.IdCardCode)*@
            @(((List<API_COAGROLINDAVISTA.Models.OBPR>)ViewBag.BussinesPartner).FirstOrDefault(x => x.IdCardCode == Model.IdCardCode).NameBP.ToString())
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
